// Font sizes

// Desktop
$title-desktop-L: rem(96);
$title-desktop-M: rem(64);
$title-desktop-S: rem(32);
$description-desktop-L: rem(24);
$description-desktop-S: rem(16);
$nav-titles: rem(16);

// Mobile
$title-mobile-L: rem(36);
$description-mobile-L: rem(24);
$description-mobile-S: rem(12);

// General
$btn-size: rem(24);
$footer-title-mobile: rem(32);
$footer-description-mobile: rem(24);
